<!DOCTYPE html>
<html lang="en">
<head>
    <title>CRM система IMT</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h3>
                <%= title %>
            </h3>
        </div>
        <img src="img/fox.png" alt = "logo" onClick="window.location.href = '/customers';"> 
        </div>
</body>